<app-header></app-header>
<div class="chat-list">
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
  <app-chat-row></app-chat-row>
</div>
<app-menu></app-menu>
